.example-spacer {
  flex: 1 1 auto;
}
.mat-toolbar {
  background: #333;
  color: #fff
}
.center {
  margin: auto;
  width: 50%;

  padding: 10px;
  text-align: center;

}

.logo {
  background-color: #333;
  background-image: url("../../assets/img/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: auto; 
  max-width: 88px;


  border: none;

}