
.habit-list
    margin: auto
    padding-top: 10px
    justify-content: center
    background-color: #fff
    max-width: 420px
    border-radius: 15px
    padding-bottom: 10px

.habit-item
    display: flex
    background-color: #fff
    overflow: hidden
    border-bottom: 1px solid #999
    padding-top: 3px
    padding-bottom: 3px

    margin-left: 10px
    margin-right: 10px

    &:last-of-type
        border-bottom: 0px

.habit-icon
    display: flex
    align-items: center
    justify-content: center
    width: 20px
    height: 20px
    background-color: #78B660
    padding: 10px
    padding-bottom: 9px
    border-radius: 10px
    margin: 5px
    & i
        color: white
        font-size: 16px

.habit-content
    display: flex
    align-items: center
    flex-grow: 1

    margin-left: 15px

.habit-name
    font-size: 14px
    font-weight: 600
    margin-top: 10px

.habit-status
    display: flex
    align-items: center
    margin-left: 15px

    & i
        color: #fff
        font-size: 14px
        background-color: #99c684
        border-radius: 50%
        width: 20px
        height: 20px
        display: flex
        justify-content: center
        align-items: center
        margin-right: 14px

.habit-description
    font-size: 8px
    margin-top: 2px
    color: #999
.empty
    padding-top: 8px
.habit-info
    display: flex
    flex-direction: column
    width: 120px

.habit-label
    font-weight: 600
    font-size: 16px
    margin-left: 33px
    margin-top: 9px
    color: #333
    justify-content: center
    margin: auto
    max-width: 420px
    margin-bottom: 15px

.label-green
    color: #3cb34c

@media screen and (max-width: 480px)
    .habit-list
        display: flex
        align-items: center
        flex-direction: column
        margin: 5px
    .habit-info
        display: flex
        flex-direction: column
        width: 95px
