<p>habit-home works!</p>
<table class='table'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of habits;">
      <td>{{book.id}}</td>
      <td>{{book.name}}</td>

    </tr>
  </tbody>
</table>
<div class="habit-list">
  <div class="habit-item">
    <div class="habit-icon">
      <i class="fas fa-running"></i>
    </div>
    <div class="habit-content">
      <div class="habit-name">Running</div>
      <div class="habit-status">
        <i class="fal fa-check"></i>
        <i class="fal fa-check"></i>
        <i class="fal fa-check"></i>
        <i class="fal fa-check"></i>
        <i class="fal fa-check"></i>
      </div>
    </div>
  </div>
  <div class="habit-item">
    <div class="habit-icon">
      <i class="fas fa-running"></i>
    </div>
    <div class="habit-content">
      <div class="habit-name">Running</div>
      <div class="habit-status">
        <i class="fal fa-check"></i>
        <i class="fal fa-check"></i>
        <i class="fal fa-check"></i>
        <i class="fal fa-check"></i>
        <i class="fal fa-check"></i>
      </div>
    </div>
  </div>
</div>