body
    font-family: Arial, sans-serif
    margin: 0
    padding: 0
    background-color: #f2f2f2
    color: #333

.habit-list
    display: flex
    justify-content: center
    align-items: center
    min-height: 100vh
    flex-direction: column

.habit-item
    display: flex
    background-color: #fff
    border-bottom: 3px solid #78B660
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1)
    overflow: hidden
    margin-bottom: 5px

.habit-icon
    display: flex
    align-items: center
    justify-content: center
    width: 30px
    height: 100%
    background-color: #78B660
    padding: 15px
    padding-bottom: 12px
    border-top-right-radius: 3px
    border-top-left-radius: 3px
    & i
        color: white
        font-size: 24px

.habit-content
    display: flex
    align-items: center
    flex-grow: 1
    padding-left: 20px

.habit-name
    font-size: 18px
    margin-right: 55px

.habit-status
    display: flex
    align-items: center
    margin-right: 15px
    & i
        color: white
        font-size: 16px
        background-color: #78B660
        border-radius: 50%
        width: 24px
        height: 24px
        display: flex
        justify-content: center
        align-items: center
        margin-right: 6px

.habit-item:first-child
    border-top-left-radius: 20px
    border-top-right-radius: 20px

.habit-item:last-child
    border-bottom-left-radius: 20px
    border-bottom-right-radius: 20px

@media screen and (max-width: 480px)
    .habit-item
        width: 300px

    .habit-icon
        width: 50px
        height: 50px

    .habit-name
        font-size: 16px
