<div class="login-body">
    <div class="login-forms">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div>
                <mat-form-field>
                    <mat-label>Firstname</mat-label>
                    <input value=" " matInput formControlName="firstname" autofocus>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Lastname</mat-label>
                    <input matInput formControlName="lastname" autofocus>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username">

                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        type="button" [attr.aria-pressed]="hide">
                        <i class="fal fa-eye-slash" *ngIf="!hide"></i>
                        <i class="fal fa-eye" *ngIf="hide"></i>
                    </button>
                </mat-form-field>
            </div>
            <div class="under-form">
                <div class="green-button right" (keyup.enter)="onSubmit()" (click)="onSubmit()">Sign in</div>
                <div class="login-note">Already have account?</div>
                <div class="login-note">
                    <span class="green" (click)="onLogIn()">log in</span>
                </div>
            </div>
        </form>
    </div>
</div>